<!-- <div class="container">
  <h1>Employee List</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Id</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Mobile</th>
        <th scope="col">Address</th>
        <th scope="col">Designation</th>
      </tr>
    </thead>
    <tbody *ngFor="let employee of employeeList; let i = index">
      <tr>
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ employee.Id }}</td>
        <td>
          <a routerLink="/employee/employee-detail/{{ employee.Id }}">{{
            employee.FirstName
          }}</a>
        </td>
        <td>{{ employee.LastName }}</td>
        <td>{{ employee.Email }}</td>
        <td>{{ employee.Mobile }}</td>
        <td>{{ employee.Address }}</td>
        <td>{{ employee.Designation }}</td>
        <td><button (click)="deleteEmployeeId(employee.Id)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div> -->
<div class="content container-fluid">
  <div class="page-header d-flex justify-content-between">
    <div class="page-title">
      <h3>Employees</h3>
    </div>
    <div class="add-employee">
      <button
        class="btn addbtn"
        data-bs-toggle="modal"
        data-bs-target="#employeeModal"
      >
        <i class="fa fa-plus"></i> Add Employee
      </button>
    </div>
  </div>
</div>

<!-- Filter rows starts -->

<div class="row filter-row">
  <div class="col-sm-6 col-md-3">
    <div class="form-group form-focus">
      <input
        placeholder="Employee ID"
        type="text"
        class="form-control floating"
      />
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="form-group form-focus">
      <input
        placeholder="Employee Name"
        type="text"
        class="form-control floating"
      />
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="form-group form-focus select-focus">
      <select class="form-select form-control">
        <option>Select Designation</option>
        <option>Web Developer</option>
        <option>Web Designer</option>
        <option>Android Developer</option>
        <option>Ios Developer</option>
      </select>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <a class="btn btn-success w-100"> Search </a>
  </div>
</div>

<!-- Filter row ends -->

<!-- Employee Card list starts -->

<div class="row mt-3">
  <ng-container *ngFor="let row of employeeList">
    <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
      <div class="profile-widget">
        <div class="profile-img" (click)="seeDetails(row.Id)">
          <a class="avatar">
            <img
              [src]="row.ProfileImageUrl"
              style="width: 80px; height: 80px; border-radius: 50%"
              alt=""
            />
          </a>
        </div>
        <div class="dropdown profile-action">
          <div class="dropdown">
            <button
              (click)="onEditEmployee(row)"
              data-bs-toggle="modal"
              data-bs-target="#employeeModal"
              class="btn"
              type="button"
            >
              <i class="fa fa-pencil" aria-hidden="true"></i>
              <span class="caret"></span>
            </button>
            <button (click)="deleteEmployee(row.Id)" class="btn" type="button">
              <i class="fa fa-trash-o" aria-hidden="true"></i>
              <span class="caret"></span>
            </button>
          </div>
        </div>
        <h4>
          <a
            class="mt-2"
            style="
              color: #333;
              text-decoration: none;
              font-size: 1.2rem;
              font-weight: 600;
              cursor: pointer;
            "
            >{{ row.FirstName }} {{ row.LastName }}</a
          >
        </h4>
        <div
          style="font-size: 0.9rem; font-weight: 600"
          class="small text-muted"
        >
          {{ row.Designation }}
        </div>
      </div>
    </div>
  </ng-container>
</div>

<!-- Employee Card list ends -->

<div
  class="modal fade"
  id="employeeModal"
  tabindex="-1"
  aria-labelledby="employeeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="employeeModalLabel">Add Employee</h5>
        <button
          type="button"
          (click)="onAddEmployee()"
          id="close-emp"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="employeeForm">
          <div class="row">
            <div class="col-sm-12 d-flex justify-content-center">
              <img
                class="img-fluid img-thumbnail"
                style="width: 120px; height: 120px; border-radius: 50%"
                [src]="imgUrl"
                alt=""
              /><br />
              <div class="form-group">
                <label for="file-input">
                  <i class="fa fa-pencil"></i>
                </label>
              </div>
            </div>
            <input
              (change)="loadProfileImage($event)"
              style="display: none"
              id="file-input"
              type="file"
              accept="image/*"
            />
            <div class="col-sm-6">
              <div class="form-group">
                <label class="col-form-label"
                  >First Name <span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  formControlName="FirstName"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="col-form-label"
                  >Last Name <span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  formControlName="LastName"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="col-form-label"
                  >Address <span class="text-danger">*</span></label
                >

                <textarea
                  formControlName="Address"
                  class="form-control"
                  cols="30"
                  rows="2"
                ></textarea>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="col-form-label"
                  >Mobile Number <span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  formControlName="Mobile"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="col-form-label"
                  >Department <span class="text-danger">*</span></label
                >
                <select
                  formControlName="DepartmentId"
                  class="form-select"
                  aria-label="Default select example"
                >
                  <option selected value="">Select Department</option>
                  <ng-container *ngFor="let department of departmentList">
                    <option [ngValue]="department.DeptId">
                      {{ department.DeptName }}
                    </option>
                  </ng-container>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="col-form-label"
                  >Designation <span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  formControlName="Designation"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="col-form-label"
                  >Email <span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  formControlName="Email"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="col-form-label"
                  >Password<span class="text-danger">*</span></label
                >
                <input
                  type="password"
                  formControlName="Password"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="col-form-label"
                  >Role <span class="text-danger">*</span></label
                >
                <select
                  formControlName="RoleId"
                  class="form-select"
                  aria-label="Default select example"
                >
                  <option selected value="">Select Role</option>
                  <ng-container *ngFor="let role of roleList">
                    <option [ngValue]="role.RoleId">{{ role.RoleName }}</option>
                  </ng-container>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="col-form-label"
                  >Start Date <span class="text-danger">*</span></label
                >
                <input
                  formControlName="StartDate"
                  type="date"
                  class="form-control"
                />
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          *ngIf="!isEdit"
          id="close-emp"
          type="button"
          class="btn btn-primary"
          (click)="addEmployee()"
        >
          Save changes
        </button>
        <button
          *ngIf="isEdit"
          type="button"
          class="btn btn-primary"
          (click)="updateEmployee()"
        >
          Update changes
        </button>
      </div>
    </div>
  </div>
</div>
